#==========================================#
#           CREATED BY DAVERSINI           #
#==========================================#

# Visual Studio
.vs
*.user
*.suo
*.filter
*.vcxproj.filters
*.vcxproj
*.sln

# Project Folders
[Bb]in
[Bb]in-[Ii]nt